<!DOCTYPE html>
<html ng-app="myApp" lang="pl-PL">

<head>
    <script src="AngularJS/angular.min.js"></script>
    <script src="AngularJS/angular-resource.js"></script>
    <script src="AngularJS/angular-route.js"></script>


    <script src="js/app.js"></script>
    <script type="text/javascript" src='js/controllers/RegisterController.js'></script>
    <script type="text/javascript" src='js/controllers/AboutController.js'></script>
    <script type="text/javascript" src='js/controllers/PeopleController.js'></script>
    <script type="text/javascript" src='js/controllers/SendMessageController.js'></script>
    <script type="text/javascript" src='js/controllers/SurveysController.js'></script>
    <script type="text/javascript" src='js/controllers/AccountController.js'></script>
    <script type="text/javascript" src='js/controllers/UserController.js'></script>
    <script type="text/javascript" src='js/controllers/AnalysysController.js'></script>
    <script type="text/javascript" src='js/controllers/CreateSurveyController.js'></script>
    <script type="text/javascript" src='js/services/SurveyService.js'></script>
    <script type="text/javascript" src='js/services/LoginService.js'></script>
    <script type="text/javascript" src='js/controllers/NavbarController.js'></script>
    <script type="text/javascript" src='js/controllers/LoginController.js'></script>
    <script type="text/javascript" src='AngularJS/ngStorage/ngStorage.js'></script>
    <script type="text/javascript" src="js/controllers/DataController.js"></script>

    <script src="Bootstrap/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="JQuery/1.12.4/jquery.min.js"></script>

    <!--<link rel="stylesheet" href="https://bootswatch.com//bootstrap.min.css"/>-->

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="views/styles/style.css">
    <script src="JQuery/3.1.1/jquery.min.js"></script>




    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="język" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=" Dominika Sporzyńska ">

    <title>Start Survey </title>

    <!-- Bootstrap Core CSS -->
    <link href="zold/Survey/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="zold/Survey/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!--biblioteka wykresy-->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />



    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
     <script type="text/javascript" src="http://www.amcharts.com/lib/3/amstock.js"></script>
    <!-- Theme CSS -->
    <link href="zold/Survey/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="canvasjs/canvasjs.min.js"></script>




</head>
<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222222"
     ng-controller="NavbarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/" ng-hide="currentPath === '/'">Start Survey</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="page-scroll" href="#homeDiv" ng-hide="currentPath === '/'">Home</a></li>
                <li><a class="page-scroll" href="#portfolio" ng-hide="currentPath === '/'">Survey</a></li>
                <li><a class="page-scroll" href="#aboutDiv" ng-hide="currentPath === '/'">About</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
                <li ng-if="email" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="background-color: #222222">
                        <li ng-if="Admin"><a href="index.html#/user"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
                        <!--<li><a href="index.html#/survey"><i class="glyphicon glyphicon-copy"></i> Surveys</a></li>-->
                        <li><a href="index.html#/createSurvey"> <i class="glyphicon glyphicon-edit"></i> Create survey</a></li>
                        <li><a href="index.html#/user/account"> <i class="glyphicon glyphicon-user"></i> Me account</a></li>
                        <li ng-if="Admin" ><a href="index.html#/message">  <i class="glyphicon glyphicon-envelope"></i> Message</a></li>
                        <!--<li><a href="index.html#/analisys">Analysis& Visualisation</a></li>-->
                        <li><a href="index.html#/data"><i class="glyphicon glyphicon-stats"></i> Analysis & Visualisation</a></li>


                    </ul>
                </li>
            </ul>

            <ul  class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                <li ng-if="email"><a href=""><i class="glyphicon glyphicon-user"></i>
                    {{email}}</a></li>


                <li ng-if="email"><a href="/" ng-click="removeUserFromStorage()">  <span class="glyphicon glyphicon-off"></span> Logout</a></li>

                <li ng-if="!email"><a href="index.html#/register"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
                <!--<li ng-if="!email"><a href="#/login"><span class="glyphicon glyphicon-log-in fa fa-shield"></span> Login</a>-->
                <!--</li>-->

                <li ng-if="!email"><a href="index.html#/login"><i class="glyphicon glyphicon-lock"></i> Log in</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="row" ng-view></div>


<footer class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Dominika Sporzyńska 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!--Rejestracja-->
<div class="portfolio-modal modal fade" id="signUp" tabindex="-1" role="dialog" aria-hidden="true">



</div>


<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="views/images/portfolio/roundicons.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of
                                them for free, courtesy of <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                or you can purchase the 1500 icon set <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="zold/Survey/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="zold/Survey/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="zold/Survey/js/jqBootstrapValidation.js"></script>
<script src="zold/Survey/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="zold/Survey/js/agency.min.js"></script>



</body>

</html>



