
<div  ng-controller="NavbarController">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

<div ng-controller="AnalysisController">
    <input type="file" class="form-control"
           id="path"
           placeholder="path"
           ng-model="path"/>

    <!--<a  class="btn btn-info "-->
    <!--ng-click="loadRules()">-->
    <!--<span class="glyphicon glyphicon-edit">Show rules</span>-->
    <!--</a>-->

    <div class="input-group col-sm-4">
        <button class="page-scroll btn btn-xl" ng-click="loadRules()">Show rules</button>
    </div>

    <textarea id="TaRules" rows="4" cols="50" ng="rules">

    </textarea>


</div>


</div>
