<section id="portfolio" ng-controller="SurveysController ">
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="s in survey">

            <a id="{{s.id}}" alt="{{s.id}}" class="portfolio-link" data-toggle="modal"
               ng-click="loadOneSurvey(s.id)" data-id="{{s.id}}" data-toggle="modal"
               data-target="#showSurvey">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="views/images/portfolio/roundicons.png" class="img-responsive" alt="{{s.id}}">
            </a>
            <div class="portfolio-caption">
                <h4>{{s.title}}</h4>
                <button class=" btn btn-primary btn-block btn btn-danger"
                        ng-click="delete(s.id)">&#x2718; Delete
                </button>
                <p class="text-muted">Graphic Design</p>
            </div>
        </div>
    </div>
    </div>


    <br> <br> <br> <br>

</section>

<div class="bg-light-gray">
    <div class="bg-light-gray">
        <div class="container ">
            <div class="row ">
                <div class="col-md-1">
                </div>
                <div class="bgform">
                    <div class="col-md-10">
                        <div>
                            <br/>

                            <div class="bgform">
                                <div class="form-group">
                                    <!--<h2>Create survey</h2>-->

                                    <div class="col-lg-12 text-center">
                                        <h2>Create survey</h2>
                                    </div>

                                </div>


                                <hr class="colorgraph" align="center">
                                <br/>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-sm-10 col-xs-10">
                                        <label>Title:</label>
                                        <input type="text" class="form-control"
                                               id="titleOfSurvey"
                                               placeholder="Title"
                                               ng-model="titleOfSurvey"/>
                                    </div>
                                    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-sm-10 col-xs-10">


                                        <button id="btnAddSurvey" class="btn btn-primary btn btn-inf btn-block" id="addSurvey"
                                                ng-click="saveSurvey()">
                                            Add
                                            Survey
                                        </button>
                                        <br/><br/>

                                        <div id="myAlertqs" class="alert alert-success collapse">
                                            <a href="#" class="close">&times;</a>
                                            <strong>Success!</strong> Survey has been added.
                                        </div>


                                    </div>

                                </div>
                                <div class="row">

                                    <div class=" col-md-offset-2 col-md-8 col-xs-offset-1 col-sm-10 col-xs-10"
                                         style="margin-bottom: 0px; ">
                                        <br>
                                        <label>Select a poll</label>
                                        <select ng-model="select" class="form-control btn-default" id="Atribute"
                                                ng-init="select = sList[0]" ng-change="change(select)"
                                                ng-click="saveIdSurvey(s.id)">
                                            <option ng-repeat=" s in survey" value="{{s.id}}" selected>
                                                <h4>{{s.title}}</h4>
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class=" col-md-offset-2 col-md-8 col-xs-offset-1 col-sm-10 col-xs-10"
                                         style="margin-bottom: 0px; ">


                                        <!--<h1>You selected: {{selectSurvey}}</h1>-->
                                        <button type="button" alt="select"
                                                class="btn btn-primary btn btn-inf btn-block"
                                                data-toggle="modal"
                                                data-target="#exampleModalLong">
                                            <span class="glyphicon glyphicon-edit"></span> Select question
                                        </button>


                                    </div>
                                </div>
                                <br/>
                            </div>


                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <hr class="colorgraph">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Question:</label>
                                                    <input type="text" class="form-control"
                                                           id="questionOfSurvey"
                                                           placeholder="Question"
                                                           ng-model="questionOfSurvey"/>
                                                    <button id="btnAddQuestion"
                                                            class="btn btn-primary btn btn-inf btn-block"
                                                            id="saveQuestion"
                                                            ng-click="saveQuestion()">
                                                        Add
                                                        question
                                                    </button>
                                                    <br/><br/>

                                                    <div id="myAlertq" class="alert alert-success collapse">
                                                        <a href="#" class="close">&times;</a>
                                                        <strong>Success!</strong> Question has been added.
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>


                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <hr class="colorgraph">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Answer:</label>
                                                    <input type="text" class="form-control"
                                                           id="answerOfSurvey"
                                                           placeholder="Answer"
                                                           ng-model="answerOfSurvey"/>


                                                        <button id="btnSubmit" class="btn btn-primary btn btn-inf btn-block" id="saveAnswer"
                                                                ng-click="saveAnswer()">
                                                            Add
                                                            answer
                                                        </button>



                                                    <br/><br/>

                                                    <div id="myAlert" class="alert alert-success collapse">
                                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                        <strong>Success!</strong> Answer has been added.
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">


                                <div class="col-md-6 col-sm-6">

                                    </br>
                                    <div class="panel "style=" border: 2px solid #1a1a1a" >
                                        <div class="panel-heading " style="background-color: #1a1a1a; color: whitesmoke;font-family: Montserrat;padding: 20px " >Added questions</div>
                                        <div class="panel-body"  id="table-scrollAllQ">
                                            <table >
                                                <tbody>
                                                <tr ng-repeat="q in questions">


                                                    <td>
                                                        <input type="checkbox" alt=q.id
                                                               ng-click="selectQ(q.id)">


                                                        {{q.question}}
                                                        <div ng-repeat="(index,a) in q.answers">
                                                            <li>{{q.answers[index].answer}}</li>
                                                        </div>

                                                    </td>
                                                    <td><a href="" class="btn btn-danger"
                                                           ng-click="deleteQuestion(q.id)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a></td>
                                                    <td>
                                                        <a href="" class="btn btn-info "
                                                           data-toggle="modal" data-target="#myModal2"
                                                           ng-click="showQuestion(q.id)">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    </br>
                                    <div class="panel " style=" border: 2px solid #1a1a1a"  >
                                        <div class="panel-heading " style="background-color: #1a1a1a; color: whitesmoke;font-family: Montserrat;padding: 20px " >Added answers</div>
                                        <div class="panel-body" id="table-scrollAllA">

                                            <table class="table table-hover">
                                                <tbody>
                                                <tr ng-repeat="a in answer">

                                                    <td><input type="checkbox"
                                                               ng-checked="exists(a, selected)"
                                                               ng-click="toggle(a, selected)"
                                                               alt="a.id">
                                                        {{a.answer}}
                                                    </td>
                                                    <td><a href="" class="btn btn-danger"
                                                           ng-click="deleteAnswer(a.id)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a></td>
                                                    <td>


                                                        <a href="" class="btn btn-info "
                                                           data-toggle="modal" data-target="#myModal"
                                                           ng-click="showAnswer(a.id)">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </a>

                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px">
                <h3 align="center">
                    Connect the question with answers

                </h3>
                <div class="col-md-offset-3 col-md-6 col-sm-6" align="center" style="height: 100px">
                    <button type="button" class="btn btn-primary btn btn-inf btn-block" id="saveRelations"
                            ng-click="saveRelations()">
                        Add relations
                    </button>


                </div>

            </div>


        </div>
    </div>


</div>
</div>

<!-- select question -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select question</h5>
                <h1>You selected: {{selectTitle}}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <table>
                    <tbody>
                    <tr ng-repeat="q in questions">
                        <td>
                            <input type="checkbox"
                                   ng-checked="exists(q, selectedQ)"
                                   ng-click="toggle(q, selectedQ)"
                                   alt="q.id">
                            {{q.question}}
                            <div ng-repeat="(index,a) in q.answers">
                                <li>{{q.answers[index].answer}}</li>
                            </div>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-success sendButton"
                        ng-click="saveRelationsSurveyWithQuestions(select)">
                    Zapisz zmiany
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Show Survey -->
<div class="portfolio-modal modal fade" id="showSurvey" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 align="center">{{ankietka.title}}</h2>

                            <img class="img-responsive img-centered" src="views/images/portfolio/roundicons.png" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <div align="left">

                <div class="col-sm-offset-2">
                    <div ng-repeat="(indexQ, q) in ankietka.question">
                        <h4>{{q.question}}</h4>
                        <form>
                            <div ng-repeat="(indexQ, a) in q.answers">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">{{a.answer}}
                                </label>
                            </div>
                            <br>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                    class="fa fa-times"></i> Zamknij
            </button>
            <button type="button" class="btn btn-success sendButton" ng-click="editCar()">
                Zapisz zmiany
            </button>

        </div>

    </div>
</div>


<!-- Wyswietlanie okna z nowymi danymi  -->
<div class="portfolio-modal modal fade" id="showSurvey1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">


                                <div class="col-md-8 col-md-offset-2">
                                    <div class="panel panel-warning ">
                                        <div class="panel-heading">New data</div>
                                        <div class="panel-body " id="table-scroll">
                                            <div ng-repeat="data in dataweka" align="left">

                                                <form>
                                                    {{data}}
                                                    <br>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="container-fluid" style="margin-left: 20px; margin-right: 20px">
                            <div class="col-sm-12 text-center">
                                <h2 class="section-heading">Wygeneruj reguły </h2>
                                <h4 class="section-heading">Zaznacz prenerencje</h4>
                                <br> <br>
                            </div>

                            <div class=" col-sm-10 col-sm-offset-1 " align="center" style="margin-bottom: 30px">
                                <br> <br>
                                <p id="liczbaRegul2" ng-model="liczbaRegul2"> Liczba reguł: {{liczbaRegul2}}</p>
                                <input type="range" class="btn-danger" min="1" max="100" ng-model="liczbaRegul2"/>

                            </div>
                            <div class="row ">
                                <div class="col-sm-2 col-sm-offset-4 " align="center" style="margin-bottom: 20px">
                                    <p>Minimalna ufność reguły:</p>
                                </div>
                                <div class=" col-sm-2">
                                    <select ng-model="ufnosc2" class="form-control btn-default" id="ufnosc2"
                                            ng-init="ufnosc2 = minUfnoscList[0]">
                                        <option ng-repeat="b in minUfnosc " value="{{b}}" selected>{{b}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " align="center">
                                    <button type="button" class="btn btn-warning btn-block "
                                            ng-click="loadRulesFromNewData()"
                                            style="margin-bottom: 20px">
                                        Show rules
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 " align="center">
                                    <div style="margin-bottom: 20px" id="mynetworkNewDate"></div>
                                </div>
                            </div>

                            <div class=jumbotron" class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 ">
                                <div class="panel-group btn-warning  " id="accordionShowRules2">
                                    <div class="panel btn-warning">
                                        <h4 class="panel-title btn-warning panel-heading" align="center">
                                            <a data-toggle="collapse" data-target="#collapseShowRules2"
                                               style="color: white; margin-bottom: 20px">
                                                <!--<button type="button" class="btn btn-warning btn-block"-->

                                                <!--&gt; -->
                                                Wygenerowane reguły
                                                <!--</button>-->
                                            </a>
                                        </h4>

                                        <div id="collapseShowRules2" class="panel-collapse collapse  ">
                                            <div class="panel-body" style="background-color: white">
                                                <div class="row"><br> <br> <br> <br></div>

                                                <div align="center " class="col-sm-12 col-md-12 ">
                                                    <div align="left">
                                                        <p style="margin-left: 5px; color: #080808" id="demo2"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-group btn-warning  " id="accordionShowRules3">
                                    <div class="panel btn-warning">
                                        <h4 class="panel-title btn-warning panel-heading" align="center">
                                            <a data-toggle="collapse" data-target="#collapseShowRules3"
                                               style="color: white">
                                                <!--<button type="button" class="btn btn-warning btn-block"-->

                                                <!--&gt; -->
                                                Charts
                                                <!--</button>-->
                                            </a>
                                        </h4>

                                        <div id="collapseShowRules3" class="panel-collapse collapse  ">
                                            <div class="panel-body" style="background-color: white">
                                                <div class="row"><br> <br> <br> <br></div>

                                                <div align="center "
                                                     class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 ">

                                                    <div id="2chartContainer2" style="height: 400px; width: 100%;">
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <div id="2chartContainer4" style="height: 400px; width: 100%;">
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>


                <div align="left">


                </div>

            </div>
            <div style="margin-right: 50px" class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="fa fa-times"></i> Zamknij
                </button>
                <!--<button type="button" class="btn btn-success sendButton" ng-click="editCar()">-->
                <!--Zapisz zmiany-->
                <!--</button>-->

            </div>

        </div>
    </div>

</div>


<!-- update answer -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update answer</h4>
            </div>
            <div class="modal-body">
                <label>Answer:</label>
                <input type="text" class="form-control"
                       ng-model="updateAnswer"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="editAnswer({updateAnswer})">Save
                </button>
            </div>
        </div>

    </div>
</div>


<!-- update question-->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update question</h4>
            </div>
            <div class="modal-body">
                <label>Answer:</label>
                <input type="text" class="form-control"
                       ng-model="updateQuestion"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="editQuestion()">Save
                </button>
            </div>
        </div>

    </div>
</div>

</div>
