<section id="portfolio" class="bg-light-gray" xmlns:max-width="http://www.w3.org/1999/xhtml">

    <div class="row">
        <br> <br> <br> <br>
        <!--<div ng-controller="AnalysisController">-->
        <!--<input type="file" class="form-control"-->
        <!--id="path"-->
        <!--placeholder="path"-->
        <!--ng-model="path"/>-->

        <div class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Dostępne ankiety</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="s in survey">
                        <a id="{{s.id}}" alt="{{s.id}}" class="portfolio-link" data-toggle="modal"
                           ng-click="loadOneSurvey(s.id)" data-id="{{s.id}}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="views/images/portfolio/roundicons.png" class="img-responsive" alt="{{s.id}}">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{s.title}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h2 align="center">{{ankietka.title}}</h2>
        <div align="center " class="col-sm-10 col-sm-offset-1">
            <select ng-model="selectAtribute" class="form-control btn-default" id="Atribute"
                    ng-init="selectAtribute = atributeList[0]" ng-change="change(selectAtribute)">
                <option ng-repeat="(indexQ, q) in ankietka.question" value="{{q.id}}" selected>
                    <h4>{{q.question}}</h4>
                </option>
            </select>
        </div>
        <div class="col-sm-10 col-md-offset-1 bg-light-gray" align="center">
            <div style="max-width: 90% ;height: 500px" id="chartdiv"></div>
            <div class="row ">

                <div class="col-md-10">
                    <label>Liczba reguł:</label>
                    <input type="range" min="1" max="100" ng-model="liczbaRegul"/>
                </div>

                <div class="col-md-2">
                    <p id="liczbaRegul" ng-model="liczbaRegul">{{liczbaRegul}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <label>Minimalna ufność reguły:</label>
                </div>

                <div class=" col-md-2">
                    <select ng-model="ufnosc" class="form-control btn-default" id="ufnosc"
                            ng-init="ufnosc = minUfnoscList[0]">
                        <option ng-repeat="b in minUfnosc " value="{{b}}" selected>{{b}}</option>
                    </select>
                </div>

            </div>


            <div class="row col-md-4">
                <button type="button" class="btn btn-warning btn-block"
                        ng-click="loadRules()"> Show rules
                </button>
            </div>
            <div class=" row col-md-4 ">
                <button type="button" class="btn btn-warning btn-block"
                        ng-click="showData()"> Show data
                </button>
            </div>

            <br>
            <br>
            <!--<div ng-repeat="q in rules">{{q}}</div>-->
            <div align="left">
                <p style="margin-left: 20px" id="demo"></p>
            </div>


            <!--<h5 align="left"> {{rulesweka}}</h5>-->
            <!--&lt;!&ndash;<h5> {{statictic}}</h5>&ndash;&gt;-->

            <div align="center" ng-repeat="da in dataweka track by $index">

                <!--&lt;!&ndash;<h5> {{da}}</h5>&ndash;&gt;-->

            </div>

            <div class=" row col-md-4 ">
                <button type="button" class="btn btn-warning btn-block"
                        ng-click="wsparcieUfnosc()"> Pokarz wsparcie i ufność
                </button>
            </div>
            <br>
            <br>
            <br>


            <div align="center " class="col-sm-10 col-sm-offset-1">
                <div id="chartContainer" style="height: 550px; width: 100%;">
                </div>
            </div>


        </div>
    </div>

</section>

