<section id="portfolio" class="bg-light-gray" xmlns:max-width="http://www.w3.org/1999/xhtml">

    <div class="row">
        <br> <br> <br> <br>
        <!--<div ng-controller="AnalysisController">-->
        <!--<input type="file" class="form-control"-->
        <!--id="path"-->
        <!--placeholder="path"-->
        <!--ng-model="path"/>-->

        <div class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Dostępne ankiety</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="s in survey">
                        <a id="{{s.id}}" alt="{{s.id}}" class="portfolio-link" data-toggle="modal"
                           ng-click="loadOneSurvey(s.id)" data-id="{{s.id}}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="views/images/portfolio/roundicons.png" class="img-responsive" alt="{{s.id}}">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{s.title}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h2 align="center">{{ankietka.title}}</h2>
        <div align="center " class="col-sm-10 col-sm-offset-1">
            <select ng-model="selectAtribute" class="form-control btn-default" id="Atribute"
                    ng-init="selectAtribute = atributeList[0]"  ng-change="change(selectAtribute)">
                <option ng-repeat="(indexQ, q) in ankietka.question" value="{{q.id}} " selected>
                    <h4>{{q.question}}</h4>
                </option>
            </select>
        </div>



        <div class="col-sm-12 bg-light-gray" align="center">

            <!--<button type="button" class="btn btn-warning"-->
                    <!--ng-click="showStatistic()"> Show statistics-->
            <!--</button>-->
            <div style="max-width: 90% ;height: 500px" id="chartdiv"></div>
            <button type="button" class="btn btn-warning"
                    ng-click="loadRules()"> Show rules
            </button>

            <button type="button" class="btn btn-warning"
                    ng-click="showData()"> Show data
            </button>


            <!--<div ng-repeat="q in rules">{{q}}</div>-->

            <!--&lt;!&ndash;<h5> {{rulesweka}}</h5>&ndash;&gt;-->
            <!--&lt;!&ndash;<h5> {{statictic}}</h5>&ndash;&gt;-->

            <!--&lt;!&ndash;<div align="center" ng-repeat="da in dataweka track by $index">&ndash;&gt;-->

            <!--&lt;!&ndash;<h5> {{da}}</h5>&ndash;&gt;-->

            <!--</div>-->


        </div>
    </div>

</section>

