<section id="portfolio">

    <div>
        <br> <br> <br> <br>


        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">Available surveys</h2>
                    <h4 class="section-heading">Select a poll</h4>
                    <br> <br> <br> <br>
                </div>
            </div>
            <div class="row NavbarController ">
                <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="s in survey">
                    <a id="{{s.id}}" alt="{{s.id}}" class="portfolio-link" data-toggle="modal"
                       ng-click="loadOneSurvey(s.id)" data-id="{{s.id}}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="views/images/portfolio/roundicons.png" class="img-responsive" alt="{{s.id}}">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{s.title}}</h4>
                    </div>
                </div>




                <!--<div class="row">-->
                    <!--<div class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " align="center">-->
                        <!--<button type="button" id="showWindowCrossTable" class="btn btn-warning btn-block "-->
                                <!--ng-click="showNewData()"-->
                                <!--data-target="#showCrossTable"-->
                                <!--data-toggle="modal"-->
                                <!--ng-click="loadOneSurvey(s.id)" data-id="{{s.id}}"-->
                                <!--data-toggle="modal"-->
                                <!--style="margin-bottom: 20px">-->
                            <!--Show Cross Table-->
                        <!--</button>-->


                    <!--</div>-->
                <!--</div>-->

            </div>
            <br> <br> <br> <br>
        </div>


        <div class="jumbotron">
            <h2 align="center">{{ankietka.title}}</h2>
            <div align="center " class="col-sm-10 col-sm-offset-1" style="margin-bottom: 0px; ">
                <select ng-model="selectAtribute" class="form-control btn-default" id="Atribute"
                        ng-init="selectAtribute = atributeList[0]" ng-change="change(selectAtribute)">
                    <option class="col-sm-10 col-sm-offset-1"  ng-repeat="q in atributes" value="{{q[0]}}">
                        <h4>{{q[1]}}</h4>
                    </option>
                </select>
            </div>
            <br> <br> <br> <br>
            <div class="col-sm-10 col-sm-offset-1 " align="center">
                <button type="button" class="btn btn-warning btn-block" data-toggle="collapse" data-target="#demoq">
                    Chart of responses provided
                </button>


            </div>
            <div class="row"><br> <br> <br> <br></div>
        </div>





        <div class="  col-sm-10 col-sm-offset-1 " align="center">
            <!--wykres kołowy-->
            <br> <br>
            <div id="demoq" class="collapse">
                <div style="margin-top: auto; margin-bottom: 100px;  height: 100% ;  width:90%" id="chartdiv"></div>



            </div>

        </div>


        <div class="container-fluid" style="margin-left: 20px; margin-right: 20px">
            <div class="col-sm-12 text-center">
                <h2 class="section-heading">Generated rules from all attributes </h2>
                <h4 class="section-heading">Tick preferences</h4>
                <br> <br>
            </div>

            <div class=" col-sm-10 col-sm-offset-1 " align="center" style="margin-bottom: 30px">
                <br> <br>
                <p id="liczbaRegul" ng-model="liczbaRegul"> Number of rules: {{liczbaRegul}}</p>
                <input type="range" class="btn-danger" min="1" max="100" ng-model="liczbaRegul"/>

            </div>
            <div class="row ">
                <div class="col-sm-2 col-sm-offset-4 " align="center" style="margin-bottom: 20px">
                    <p>Minimum support count:</p>
                </div>
                <div class=" col-sm-2">
                    <select ng-model="ufnosc" class="form-control btn-default" id="ufnosc"
                            ng-init="ufnosc = minUfnoscList[0]">
                        <option ng-repeat="b in minUfnosc " value="{{b}}" selected>{{b}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " align="center">
                    <button type="button" class="btn btn-warning btn-block " ng-click="loadRules()"
                            style="margin-bottom: 20px">
                        Generate rules
                    </button>
                </div>
            </div>

            <div class="row">
                <div class=" col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 " align="center">
                    <div style="margin-bottom: 20px"  id="mynetwork"></div>
                </div>
            </div>

            <div class=jumbotron" class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " >
                <div class="panel-group btn-warning  " id="accordionShowRules">
                    <div class="panel btn-warning">
                        <h4 class="panel-title btn-warning panel-heading" align="center">
                            <a data-toggle="collapse" data-target="#collapseShowRules"
                               style="color: white">
                                <!--<button type="button" class="btn btn-warning btn-block"-->

                                <!--&gt; -->
                                Show rules
                                <!--</button>-->
                            </a>
                        </h4>

                        <div id="collapseShowRules" class="panel-collapse collapse  ">
                            <div class="panel-body" style="background-color: white">
                                <div class="row"><br> <br> <br> <br></div>

                                <div align="center " class="col-sm-12  ">
                                    <div align="left">
                                        <p style="margin-left: 5px; color: #080808" id="demo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




                <div class="panel-group btn-warning  " id="accordion">
                    <div class="panel   btn-warning">
                        <h4 class="panel-title btn-warning panel-heading" align="center">
                            <a data-toggle="collapse" data-target="#collapse1" ng-click="wsparcieUfnosc()"
                               style="color: white">
                                Show/Hide charts
                            </a>
                        </h4>

                        <div id="collapse1" class="panel-collapse collapse  ">
                            <div class="panel-body" style="background-color: white">
                                <div class="row"><br> <br> <br> <br></div>
                                <div class="col-sm-12">


                                </div>
                                <div align="center " class="col-sm-10 col-sm-offset-1 ">
                                    <div id="chartContainer" style="height: 400px; width: 100%;">
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div id="chartContainer2" style="height: 300px; width: 100%;">
                                    </div>



                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
        <br>
        <br>

        <!--<div align="center" ng-repeat="da in dataweka track by $index">-->
        <!--</div>-->

    </div>
</section>
<section class="jumbotron">
    <div style="height: 300px">
        <div align="center " style="margin-bottom: 0px; ">


            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-warning ">
                    <div class="panel-heading">Select atributes</div>
                    <div class="panel-body " id="table-scroll">
                        <table>
                            <tbody>
                            <tr ng-repeat=" q in atributes" value="{{q[0]}}">
                                <td align="left">
                                    <input type="checkbox" alt=q[0]
                                           ng-checked="exists(q[0], selected)" ng-click="toggle(q[0]  , selected)">
                                    {{q[1]}}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " align="center">
                <button type="button" id="shownewData" class="btn btn-warning btn-block " ng-click="showNewData()"
                        data-target="#showSurvey"
                        data-toggle="modal"
                        ng-click="loadOneSurvey(s.id)" data-id="{{s.id}}"
                        data-toggle="modal"
                        style="margin-bottom: 20px">
                    Show new data
                </button>


            </div>
        </div>


    </div>
</section>


<!-- Wyswietlanie okna z nowymi danymi  -->
<div class="portfolio-modal modal fade" id="showSurvey" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">


                                <div class="col-md-8 col-md-offset-2">
                                    <div class="panel panel-warning ">
                                        <div class="panel-heading">New data</div>
                                        <div class="panel-body " id="table-scroll">
                                            <div ng-repeat="data in dataweka" align="left">

                                                <form>
                                                    {{data}}
                                                    <br>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="container-fluid" style="margin-left: 20px; margin-right: 20px">
                            <div class="col-sm-12 text-center">
                                <h2 class="section-heading">Wygeneruj reguły </h2>
                                <h4 class="section-heading">Zaznacz prenerencje</h4>
                                <br> <br>
                            </div>

                            <div class=" col-sm-10 col-sm-offset-1 " align="center" style="margin-bottom: 30px">
                                <br> <br>
                                <p id="liczbaRegul2" ng-model="liczbaRegul2"> Liczba reguł: {{liczbaRegul2}}</p>
                                <input type="range" class="btn-danger" min="1" max="100" ng-model="liczbaRegul2"/>

                            </div>
                            <div class="row ">
                                <div class="col-sm-2 col-sm-offset-4 " align="center" style="margin-bottom: 20px">
                                    <p>Minimalna ufność reguły:</p>
                                </div>
                                <div class=" col-sm-2">
                                    <select ng-model="ufnosc2" class="form-control btn-default" id="ufnosc2"
                                            ng-init="ufnosc2 = minUfnoscList[0]">
                                        <option ng-repeat="b in minUfnosc " value="{{b}}" selected>{{b}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " align="center">
                                    <button type="button" class="btn btn-warning btn-block "
                                            ng-click="loadRulesFromNewData()"
                                            style="margin-bottom: 20px">
                                        Show rules
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 " align="center">
                                    <div style="margin-bottom: 20px"  id="mynetworkNewDate"></div>
                                </div>
                            </div>

                            <div class=jumbotron"  class=" col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 " >
                                <div class="panel-group btn-warning  " id="accordionShowRules2">
                                    <div class="panel btn-warning">
                                        <h4 class="panel-title btn-warning panel-heading" align="center">
                                            <a data-toggle="collapse" data-target="#collapseShowRules2"
                                               style="color: white; margin-bottom: 20px">
                                                <!--<button type="button" class="btn btn-warning btn-block"-->

                                                <!--&gt; -->
                                                Wygenerowane reguły
                                                <!--</button>-->
                                            </a>
                                        </h4>

                                        <div id="collapseShowRules2" class="panel-collapse collapse  ">
                                            <div class="panel-body" style="background-color: white">
                                                <div class="row"><br> <br> <br> <br></div>

                                                <div align="center " class="col-sm-12 col-md-12 ">
                                                    <div align="left">
                                                        <p style="margin-left: 5px; color: #080808" id="demo2"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-group btn-warning  " id="accordionShowRules3">
                                    <div class="panel btn-warning">
                                        <h4 class="panel-title btn-warning panel-heading" align="center">
                                            <a data-toggle="collapse" data-target="#collapseShowRules3"
                                               style="color: white">
                                                <!--<button type="button" class="btn btn-warning btn-block"-->

                                                <!--&gt; -->
                                                Charts
                                                <!--</button>-->
                                            </a>
                                        </h4>

                                        <div id="collapseShowRules3" class="panel-collapse collapse  ">
                                            <div class="panel-body" style="background-color: white">
                                                <div class="row"><br> <br> <br> <br></div>

                                                <div align="center " class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 ">

                                                    <div id="2chartContainer2" style="height: 400px; width: 100%;">
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <div id="2chartContainer4" style="height: 400px; width: 100%;">
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>


                <div align="left">


                </div>

            </div>
            <div  style="margin-right: 50px" class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="fa fa-times"></i> Zamknij
                </button>
                <!--<button type="button" class="btn btn-success sendButton" ng-click="editCar()">-->
                    <!--Zapisz zmiany-->
                <!--</button>-->

            </div>

        </div>
    </div>

</div>



