<div class="bg-light-gray">
    <div class="createSurvey" ng-controller="TestController">
        <div class="container ">
            <div class="row ">
                <div class="col-md-1">
                </div>



                <h3>
                    Connect the question with answers

                </h3>
                <div align="center">
                    <button type="button" class="btn btn-warning" id="saveRelations">
                        Add relations
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>
