<section id="portfolio" class="bg-light-gray">


    <div class="row"  align="center" >
        <div class="createSurvey" ng-controller="NavbarController">
            <div class="container ">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                 <i class="glyphicon glyphicon-user  fa-stack-1x fa-inverse"></i>
                                 </span>
                    <h4 class="service-heading">{{myname}} {{mylastname}}</h4>

                    <h4 class="service-heading">{{myemail}}</h4>
                    <h4 class="service-heading">{{myrole}}</h4>
                    <button class="btn btn-info" ng-click="editUser(u)">&#9998; Edit my account
                    </button>
            </div>
        </div>
    </div>

</section>





